.background-image{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.start-quiz-image {
  cursor: pointer;
  animation: bounce 2s infinite;
  transition: transform 0.3s ease; 
}
.start-quiz-image:hover {
  transform: scale(1.05);
  animation: none;
}
.gear-image-container {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  &:hover{
    transform:scale(1.1);
    cursor: pointer;
  }
}
.gear-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  &:hover{
    cursor: pointer;
  }
}
.note-image-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  &:hover {
    transform:scale(1.1);
    cursor: pointer;
  }
}
.note-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
