@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

.pixelify-sans-font {
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 700;
}

.navbar {
  background-color: #222;
  color: #00ffff;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  border: 4px solid #fff;
  box-shadow: 4px 4px 0 #ff00ff; 
  image-rendering: pixelated; 
  z-index: 1000;
}

.navbar {
  clip-path: polygon(
    0 0, 96% 0, 100% 10%, 100% 100%, 4% 100%, 0 90%
  ); 
}


.logo {
  font-size: 50px;
  font-weight: 600;
  align-items: center;
  gap: 10px;
}
.logo span {
  color: #ff00ff;
}
.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin-left: 30px;
}


.navbar ul li a {
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  background: #000;
  padding: 6px 14px;
  border: 3px solid #fff;
  box-shadow: 3px 3px 0 #00ffff;
  transition: all 0.05s steps(1, end);
}
.navbar ul li a:hover {
  background: #fff;
  color: #000;
  box-shadow: 3px 3px 0 #ff00ff;
  transform: translate(-2px, -2px); 
}
