@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

.pixelify-sans-font {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.home-page {
  position: relative;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  color: white;
  z-index: 1;
  font-family: "Pixelify Sans", sans-serif;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; 
}

/* .left {
  position: absolute;
  top: 15%;
  left: 5%;
  text-align: left;
  max-width: 40%;
} */

.right {
  position: absolute;
  top: 2%;
  right: 5%;
  text-align: left; 
  border: 3px solid #fff;
  padding: 30px;
  width: 35%;
  background: rgba(0, 0, 0, 0.6); 
  box-shadow: 3px 3px 0 #00ffff;
  border-radius: 8px;
}

.home-page h1 {
  font-size: 4rem;
  margin-top: 5vh;
  text-shadow: 2px 2px 0 #000, 4px 4px 0 #ff00ff; 
}

.home-page p {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 20px 0;
  /* text-shadow: 1px 1px 0 #000, 2px 2px 0 #00ffff;  */
}

.right h2, .right h3 {
  color: #ff00ff;
  text-shadow: 1px 1px 0 #000, 2px 2px 0 #00ffff;
}

.right ul {
  margin-top: 10px;
  padding-left: 20px;
  font-size: 1.1rem;
  line-height: 1.6;
}

.pixel-button {
  display: inline-block;
  margin-top: 20px;
  font-size: 1.1rem;
  background: #000;
  color: #fff;
  border: 3px solid #fff;
  box-shadow: 3px 3px 0 #ff00ff;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "Pixelify Sans", sans-serif;
  transition: all 0.05s steps(1, end);
}

.pixel-button:hover {
  background: #fff;
  color: #000;
  box-shadow: 3px 3px 0 #00ffff;
  transform: translate(-2px, -2px);
}
